* {
    box-sizing: border-box;
}

header {
    color: aqua;
    background-color: darkblue;
    padding: 20px;
}

Nav {
    background-color: lightsalmon;
    font-size: 20px;
    text-align: right; 
}

Nav a {
    Padding: 14px 20px;
}

main {
    line-height: .75;
    background-color: aliceblue;
}

.container {
    position: relative;
    text-align: center;
    color: darkblue;
}

.bottom-left {
    position: absolute;
    bottom: 15px;
    left: 30px;
    background-color: aliceblue;
    padding: 10px
}
.images {
    max-inline-size: 90%; 
    padding: 10px;
    border: 8px; 
    border-style: solid;
    border-color: lightblue;
    border-radius: 3%;
    box-shadow: 8px 8px 5px; color: rgba(58, 59, 73, 0.281);
    display: flex;
    margin: 20px
}

.images:hover {
    color: darkblue
}

@media screen and (max-width: 768px) {
    nav, main {
        flex-direction: column;
    }
    main {background-color: cornflowerblue;}
    header {background-color: darkmagenta;}
    nav {background-color: aquamarine;}
}